// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#add_comment_button {
	cursor: pointer;
}
// Gravatar
.grav {
	float: left;
	margin-right: 1em;
}
.content {

}